<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>comment_index</title>
</head>
<body>
  comment/index html!

  <form method="post" action="/comment/add_txt" >
	tid:<input type="text" name="tid" value="">
	userid:<input type="text" name="userid" value="">
	content:<input type="text" name="content" value="">
	<input type="submit" value="publish">

</form>

 <form method="post" action="/comment/add_agree" >
	tid:<input type="text" name="tid" value="">
	userid:<input type="text" name="userid" value="">
	<input type="submit" value="publish">

</form>

<br>
<br>
<form method="post" action="/comment/delete" >
	userid:<input type="text" name="userid" value="">
	id:<input type="text" name="id" value="">
	tid:<input type="text" name="tid" value="">
	<input type="submit" value="delete">

</form>

</body>
</html>